<h1> <%= @restaurant.name %> </h1>
<h4> <%= @restaurant.reviews.count %> reviews <h4>
<h3> <%= @restaurant.description %> </h3>
<p><%= image_tag @restaurant.restaurant_photo.url(:medium), :id => "restaurant_show_image" %><p>

<% @restaurant.reviews.each do |review| %>
  <p><%= link_to "review details", restaurant_review_path(@restaurant, review), class: "btn btn-default" %></p>
  <p><%= image_tag User.find(review.user_id).user_photo.url(:thumb) %></p>
  <p><%= review.review_details %></p>
<% end %>

<%= link_to "Add A Review", new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>


